.demigods {
  padding: 60px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 14px;
  display: grid;
  grid-template-rows: auto auto;
  flex-direction: column;
  gap: 25px;
}

.demigods__bottom-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}
