.page-top {
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.page-top__first-line {
  display: grid;
  grid-template-columns: 1fr 1fr 100px;
  gap: 15px;
}

.page-top__description {
  height: 100%;

  input {
    height: 100%;
  }
}
