.attributes {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
  list-style: none;

  label {
    margin-left: 0;
    text-align: center;
  }

  input {
    aspect-ratio: 1;
  }
}
