.passive-value {
  border: 2px solid black;
  border-radius: 5px;
  overflow: hidden;
  padding-bottom: 65px;
}

.passive-value-headline {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.passive-value-label {
  margin: 0 5px;
}

.passive-value-value {
  width: 60px;
  height: 30px;
  background-color: white;
  border-radius: 3px;
}
