.black-box {
  border: 2px solid black;
  overflow: hidden;
  border-radius: 5px;
}

.black-box-headline {
  background-color: black;
  color: white;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.1rem;
  text-transform: uppercase;

  img {
    height: 26px;
  }
}
