.input-with-label {
  display: flex;
  flex-direction: column;
  background-color: var(--color-one);
  border: 2px solid var(--color-one);
  border-radius: 5px;
}

input {
  border: none;
  border-radius: 3px;
  font-size: 1.3rem;
  padding: 5px;
  width: 100%;
}

label {
  color: var(--color-two);
  font-size: 0.6rem;
  line-height: 0.7rem;
  margin: 2px 0 0 5px;
}
