.anderswelt {
  margin-bottom: 50px;

  @font-face {
    font-family: "Bangers";
    src: url("src/assets/Bangers-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  grid-template-columns: auto 1fr 1fr;
  gap: 35px;

  h1,
  h2,
  h3,
  h4 {
    font-family: "Bangers";
  }

  h2 {
    font-size: 1.2rem;
  }

  .container-1 {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}
