.attributes {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: -1cm;
  margin-right: 0;
  padding: 25px 15px 35px;

  .attribute {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Bangers";
    font-size: 1.2rem;
  }

  .value {
    width: 80px;
    height: 70px;
    background-color: white;
    border-radius: 5px;
  }
}
