.basics {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .stats__1,
  .stats__2,
  .stats__3,
  .stats__4 {
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr 1fr;
  }

  .stats__3,
  .stats__4 {
    grid-template-columns: 1fr;
  }

  .stats__4 .value {
    height: 50px;
  }

  .field {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .value {
    width: 100%;
    height: 30px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-bottom-left-radius: 7px;
  }

  .label {
    font-size: 0.8rem;
    line-height: 1;
  }
}
