.basics {
  display: grid;
  gap: 15px;
  grid-template-columns: 2fr 1fr;

  .field {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .value {
    width: 100%;
    height: 30px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-bottom-left-radius: 7px;
  }

  .label {
    font-size: 0.8rem;
    line-height: 1;
  }

  .wide {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .tall .value {
    height: 50px;
  }
}
