.stats {
  display: flex;
  justify-content: space-between;

  .lvl {
    display: grid;
    grid-template-rows: 1fr auto;
  }

  .dmg__symbols,
  .stress__symbols {
    display: flex;
  }

  .dmg__symbol,
  .stress__symbol {
    max-width: 35px;
  }

  .value {
    border-bottom: 1px solid black;
  }

  .label {
    font-size: 0.8rem;
  }
}
