.talents {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .talent {
    display: flex;
    gap: 5px;
  }

  .talent-titel {
    font-weight: bold;
  }

  .box {
    margin-top: 3px;
    content: "";
    min-width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 5px;
  }
}
