.header {
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.header__first-line {
  display: grid;
  grid-template-columns: 3fr 3fr 1fr;
  gap: 15px;
}

.header__description {
  height: 100%;

  input {
    height: 100%;
  }
}
