.skill-box {
  border: 3px solid black;
  overflow: hidden;
  border-radius: 5px;
}

.skill-box-headline {
  background-color: black;
  color: white;
  padding: 5px;
}

.skill-box-list {
  display: grid;
  gap: 5px;
  padding: 5px;
}
