*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;
  background-color: grey;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.page {
  background-color: white;
  width: 29.7cm;
  height: 21cm;
  margin: 0;
  padding: 1cm;
}

.page-landscape {
  width: 29.7cm;
  height: 21cm;
}

.page-container {
  display: grid;
  gap: 1cm;
}
