.inventory {
  h3 {
    margin-bottom: 3px;
  }

  ul {
    border-left: 2px solid black;
    border-right: 2px solid black;

    list-style-type: none;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 25px;
  }

  li {
    height: 37px;
    border-bottom: 2px solid black;
    padding: 5px;
  }
}
